
*.wav
text_weather/weather001.txt
text_weather/weather001_Segments.txt
text_weather/weather002.txt
text_weather/weather002_Segments.txt
text_weather/weather003.txt
text_weather/weather003_Segments.txt
text_weather/weather004.txt
text_weather/weather004_Segments.txt
text_weather/weather005.txt
text_weather/weather005_Segments.txt
text_weather/weather006.txt
text_weather/weather006_Segments.txt
text_weather/weather007.txt
text_weather/weather007_Segments.txt
text_weather/weather008.txt
text_weather/weather008_Segments.txt
text_weather/weather009.txt
text_weather/weather009_Segments.txt
text_weather/weather010.txt
text_weather/weather010_Segments.txt
text_weather/weather011.txt
text_weather/weather011_Segments.txt
text_weather/weather012.txt
text_weather/weather012_Segments.txt
text_weather/weather013.txt
text_weather/weather013_Segments.txt
text_weather/weather014.txt
text_weather/weather014_Segments.txt
text_weather/weather015.txt
text_weather/weather015_Segments.txt
text_weather/weather016.txt
text_weather/weather016_Segments.txt
text_weather/weather017.txt
text_weather/weather017_Segments.txt
text_weather/weather018.txt
text_weather/weather018_Segments.txt
text_weather/weather019.txt
text_weather/weather019_Segments.txt
text_weather/weather020.txt
text_weather/weather020_Segments.txt
text_weather/weather021.txt
text_weather/weather021_Segments.txt
text_weather/weather022.txt
text_weather/weather022_Segments.txt
text_weather/weather023.txt
text_weather/weather023_Segments.txt
text_weather/weather024.txt
text_weather/weather024_Segments.txt
text_weather/weather025.txt
text_weather/weather025_Segments.txt
text_weather/weather026.txt
text_weather/weather026_Segments.txt
text_weather/weather027.txt
text_weather/weather027_Segments.txt
text_weather/weather028.txt
text_weather/weather028_Segments.txt
text_weather/weather029.txt
text_weather/weather029_Segments.txt
text_weather/weather030.txt
text_weather/weather030_Segments.txt
text_weather/weather031.txt
text_weather/weather031_Segments.txt
text_weather/weather032.txt
text_weather/weather032_Segments.txt
text_weather/weather033.txt
text_weather/weather033_Segments.txt
text_weather/weather034.txt
text_weather/weather034_Segments.txt
text_weather/weather035.txt
text_weather/weather035_Segments.txt
text_weather/weather036.txt
text_weather/weather036_Segments.txt
text_weather/weather037.txt
text_weather/weather037_Segments.txt
text_weather/weather038.txt
text_weather/weather038_Segments.txt
text_weather/weather039.txt
text_weather/weather039_Segments.txt
text_weather/weather040.txt
text_weather/weather040_Segments.txt
text_weather/weather041.txt
text_weather/weather041_Segments.txt
text_weather/weather042.txt
text_weather/weather042_Segments.txt
text_weather/weather043.txt
text_weather/weather043_Segments.txt
text_weather/weather044.txt
text_weather/weather044_Segments.txt
text_weather/weather046.txt
text_weather/weather046_Segments.txt
text_weather/weather047.txt
text_weather/weather047_Segments.txt
text_weather/weather048.txt
text_weather/weather048_Segments.txt
text_weather/weather049.txt
text_weather/weather049_Segments.txt
text_weather/weather050.txt
text_weather/weather050_Segments.txt
text_weather/weather051.txt
text_weather/weather051_Segments.txt
text_weather/weather052.txt
text_weather/weather052_Segments.txt
text_weather/weather053.txt
text_weather/weather053_Segments.txt
text_weather/weather054.txt
text_weather/weather054_Segments.txt
text_weather/weather055.txt
text_weather/weather055_Segments.txt
text_weather/weather056.txt
text_weather/weather056_Segments.txt
text_weather/weather057.txt
text_weather/weather057_Segments.txt
text_weather/weather058.txt
text_weather/weather058_Segments.txt
text_weather/weather059.txt
text_weather/weather059_Segments.txt
text_weather/weather060.txt
text_weather/weather060_Segments.txt
text_weather/weather061.txt
text_weather/weather061_Segments.txt
text_weather/weather063.txt
text_weather/weather063_Segments.txt
text_weather/weather064.txt
text_weather/weather064_Segments.txt
text_weather/weather065.txt
text_weather/weather065_Segments.txt
text_weather/weather066.txt
text_weather/weather066_Segments.txt
text_weather/weather067.txt
text_weather/weather067_Segments.txt
text_weather/weather068.txt
text_weather/weather068_Segments.txt
text_weather/weather070.txt
text_weather/weather070_Segments.txt
text_weather/weather090.txt
text_weather/weather090_Segments.txt
text_weather/weather091.txt
text_weather/weather091_Segments.txt
text_weather/weather092.txt
text_weather/weather092_Segments.txt
text_weather/weather093.txt
text_weather/weather093_Segments.txt
text_weather/weather094.txt
text_weather/weather094_Segments.txt
text_weather/weather095.txt
text_weather/weather095_Segments.txt
text_weather/weather096.txt
text_weather/weather096_Segments.txt
text_weather/weather097.txt
text_weather/weather097_Segments.txt
text_weather/weather098.txt
text_weather/weather098_Segments.txt
text_weather/weather099.txt
text_weather/weather099_Segments.txt
